<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}
    {% endblock %}

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
        <script>
            jQuery.extend(jQuery.validator.messages, {
                required: "To pole jest wymagane.",
                email: "Wprowadź adres email w prawidłowym formacie.",
                equalTo: "Podane hasła muszą się zgadzać.",
                minlength: jQuery.validator.format("Wprowadź co najmniej {0} znaków."),
                // remote: "Please fix this field.",
                // url: "Please enter a valid URL.",
                // date: "Please enter a valid date.",
                // dateISO: "Please enter a valid date (ISO).",
                // number: "Please enter a valid number.",
                // digits: "Please enter only digits.",
                // creditcard: "Please enter a valid credit card number.",
                // accept: "Please enter a value with a valid extension.",
                // maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
                // rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
                // range: jQuery.validator.format("Please enter a value between {0} and {1}."),
                // max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
                // min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
            });
        </script>

    {% block footer %}
    {% endblock %}
</body>
</html>
